In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [10, 20, 30, 40]
series = pd.Series(data) # always makes all items same type
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
data = {"a": 10, "b": 20, "c": 30, "d": 40}
eries = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
data_val = [10, 20, 30, 40, 50]
data_index = [1,2,"g", "c", True]
series_combined = pd.Series(data_val, index=data_index)
print(series_combined)

1       10
2       20
g       30
c       40
True    50
dtype: int64

In [5]:
print(series_combined.index)
print(series_combined.values)
print(series_combined.dtype)

Index([1, 2, 'g', 'c', True], dtype='object')
[10 20 30 40 50]
int64

In [6]:
print(series_combined)
print(series_combined[1])

1       10
2       20
g       30
c       40
True    50
dtype: int64
1       10
True    50
dtype: int64

In [7]:
data = {"lName": ["John", "Jack", "Nick"], "age": [15, 44, 39]}
data_frame = pd.DataFrame(data)
print(data_frame)

  lName  age
0  John   15
1  Jack   44
2  Nick   39

In [8]:
data_lists = [['Jack', 95.5], ['Penny', 65.7],
       ['Tony', 85.1], ['Kat', 75.4,]]
df_list = pd.DataFrame(data_lists)
print(df_list)

df_list = pd.DataFrame(data_lists, columns=["First Name", "Age"])
df_list

       0     1
0   Jack  95.5
1  Penny  65.7
2   Tony  85.1
3    Kat  75.4

  First Name   Age
0       Jack  95.5
1      Penny  65.7
2       Tony  85.1
3        Kat  75.4

In [9]:
print(data_frame.index)
print(data_frame.dtypes)

print()

print(data_frame.values)
print(data_frame.shape)

print()

print(data_frame.head(2)) # print only first two from top
print(data_frame.tail(2)) # print only last two from top

RangeIndex(start=0, stop=3, step=1)
lName    object
age       int64
dtype: object

[['John' 15]
 ['Jack' 44]
 ['Nick' 39]]
(3, 2)

  lName  age
0  John   15
1  Jack   44
  lName  age
1  Jack   44
2  Nick   39

In [10]:
data_frame.info()
data_frame.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lName   3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

             age
count   3.000000
mean   32.666667
std    15.502688
min    15.000000
25%    27.000000
50%    39.000000
75%    41.500000
max    44.000000

In [11]:
data = {"Name": ["Mr. Casey", "John", "Jack", "Nick", "Peter", "Katy"], "age": [78, 15, 44, 39, 30, 53]}
df = pd.DataFrame(data)
df.to_csv("data.csv", index=False)
df.to_excel("data.xlsx", index=False)
df.to_json("data.json",orient="records")
#df.to_sql("table_name", conn, if_exists="replace", index=False)

ModuleNotFoundError: No module named 'openpyxl'

In [40]:
csv_from_file = pd.read_csv("data.csv")
csv_from_file

#df_from_sql = pd.read_sql("Select * from Table_name...", conn)

        Name  age
0  Mr. Casey   78
1       John   15
2       Jack   44
3       Nick   39
4      Peter   30
5       Katy   53

In [50]:
data_lists = [['Jack', 95.5], [None, 65.7],
       ['Tony', 85.1], ['Kat']]

df_list = pd.DataFrame(data_lists, columns=["First Name", "Age"])
print(df_list.isnull()) # create a matrix setting TRUE to missing values

print(df_list.dropna())
print(df_list.dropna(axis=1))
print(df_list.fillna("ceva"))

   First Name    Age
0       False  False
1        True  False
2       False  False
3       False   True
  First Name   Age
0       Jack  95.5
2       Tony  85.1
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]
  First Name   Age
0       Jack  95.5
1       ceva  65.7
2       Tony  85.1
3        Kat  ceva